doctype html
html(lang="en")
    head  
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Productsdetails-weirdo
        style 
            include ../static/style.css
        //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

        
    body 
        div
            div.container
                div.navbar
                    div.logo
                        img(src="static/img/logo.png", alt="")
                    nav.nav
                        ul#MenuItems
                            li #[a(href="/") Home]
                            li #[a(href="/product") Product]
                            li #[a(href="") About]
                            li #[a(href="") Contact]
                            li #[a(href="") Accounts]
                    img(src="static/img/cart.png", width="30px" height="30px" alt="")

                    img(src="static/img/menu.png", width="30px" height="30px" class="menu-logo" id="btn" onclick="togglehide()" alt="")
               
<!--single product details-->
                    
        div.small_container.single-product
            .row 
                .column
                    img(src="static/img/gallery-1.jpg" width="100%" id="BigImg" alt="")
                    .small-img-row 
                        .small-img-col 
                            img(src="static/img/gallery-1.jpg" class="small-Img" alt="")
                        .small-img-col 
                            img(src="static/img/gallery-2.jpg" class="small-Img" alt="")
                        .small-img-col 
                            img(src="static/img/gallery-3.jpg" class="small-Img" alt="")
                        .small-img-col 
                            img(src="static/img/gallery-4.jpg" class="small-Img" alt="")
                        
                           
                .column
                    p Home/ T-Shirt
                    h1 Red Printed T-Shirt by PUMA
                    h4 &#8377; 300
                    select
                        option Select Size
                        option XL
                        option L
                        option M
                        option S
                    input(type="number" value="1")
                    a(href="" class="btn") Add TO Cart
                    h3 Product Details #[i.fa.fa-indent]
                    p Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit.

        div.small_container
            h2 Similar Items 
            
            div.row 
                div.column3 

                    img(src="static/img/product-1.jpg", alt="")
                    h4 Red Printed T-Shirt
                    div.rating 
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-o 
                            //- far for regular  and fas for solid
                    p &#8377; 300.00
                div.column3 
                    img(src="static/img/product-2.jpg", alt="")
                    h4 Red Printed T-Shirt
                    div.rating 
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-o 
                           
                    p &#8377; 900.00
                div.column3 
                    img(src="static/img/product-3.jpg", alt="")
                    h4 Red Printed T-Shirt
                    div.rating 
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-half-o
                            i.fa.fa-star-o 
                            
                    p &#8377; 550.00
                div.column3 
                    img(src="static/img/product-4.jpg", alt="")
                    h4 Red Printed T-Shirt
                    div.rating 
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-half-o
                            
                    p &#8377; 350.00
                
               
           
               


        
        .footer 
            .container 
                .row
                    .footer-col-1 
                        h3 Download Our App
                        p Lorem ipsum dolor sit amet consectetur, adipisicing 
                        .app-logo 
                            img(src="static/img/play-store.png", alt="") 
                            img(src="static/img/app-store.png", alt="") 
                             
                    .footer-col-2 
                        img(src="static/img/logo-white.png", alt="")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis.
                    .footer-col-3 
                        h3 Useful Links 
                        ul 
                            li Coupon
                            li Blog Post
                            li Return Policy
                            li Join Affiliate
                    .footer-col-4
                        h3 Follow us
                        ul 
                            li Facebook
                            li Twitter
                            li Instagram
                            li snapchat
            hr
            p.copyright www.weirdo.com | All rights reserved
        script.
            console.log("hello")
            var MenuItems = document.getElementById("MenuItems");
            MenuItems.style.maxHeight="0px"
            function togglehide()
            {
          
                if(MenuItems.style.maxHeight == "0px"){
                    MenuItems.style.maxHeight="200px";
                }
                else{
                    MenuItems.style.maxHeight="0px";
                }
            }
        script.
            var BigImg = document.getElementById("BigImg");
            var smallImg = document.getElementsByClassName("small-Img");

            smallImg[0].onclick = function()
            {
                BigImg.src = smallImg[0].src;
            }
            smallImg[1].onclick = function()
            {
                BigImg.src = smallImg[1].src;
            }
            smallImg[2].onclick = function(){
                BigImg.src= smallImg[2].src;
            }
            smallImg[3].onclick = function(){
                BigImg.src= smallImg[3].src;
            }


          
       
                    
                    
                